# Dùng cho cấu hình public của Vite nếu cần sau này.
# Biến public của Vite phải bắt đầu bằng VITE_
# Không lưu license secret, database password, API secret ở frontend.

VITE_APP_NAME=MN_Solution
VITE_APP_ENV=production
